@import('whitespace_reset.css')
@import('mixins')

// Basic Styles

body
  padding: 60px 0 0 0
  background: colors.cod_gray url('images/background-image.png') repeat left top
  font: normal 12px droid
header, main, footer
    width: 1000px
    margin: 0 auto
header
  padding: 0 0 40px 0
  border-bottom: 1px solid colors.emperor
  h1
    display: inline-block
    width: 140px
    height: 32px
    background: url(images/logo.png) 0 0 no-repeat
  #cart
    display: inline-block
    vertical-align: middle
    float: right
    height: 28px
    padding: 0 0 0 10px
    background: colors.black
    color: colors.silver
    line-height: 28px
    letter-spacing: 1px
    text-transform: uppercase
    span
      display: inline-block
      position: relative
      height: 100%
      padding: 0 26px 0 28px
      background: linear-gradient(to bottom,  rgba(214,0,65,1) 0%,rgba(169,0,64,1) 100%)
      color: colors.white
      &:before
        content: ''
        display: block
        position: absolute
        top: 0
        left: 0
        border-top: 14px solid colors.black
        border-right: 14px solid transparent
        border-bottom: 14px solid transparent
        border-left: 14px solid colors.black
main
  clear: both
footer
  padding: 0 0 60px 0
  border-top: 1px solid colors.silver_chalice
  color: colors.dusty_gray
  font-size: 12px
  p
    margin: 10px 0
  a
    color: colors.monza
a
  text-decoration: none

// Index Styles

#products
  padding: 20px 0 0 0
  li
    display: inline-block
    width: 20%
    margin: 0 0 20px 0
    background: colors.white url('images/item-separator.png') repeat-y right top
    text-align: center
    h2
      padding: 25px 0 5px 0
      color: colors.luxor_gold
      font-size: 21px
      font-weight: normal
      text-overflow: ellipsis
    p
      padding: 0 0 20px 0
      color: colors.dark_grey
      font-size: 17px
    a
      text-decoration: none
      position: relative
      &:hover
        h2
          color: colors.night_rider
      &:hover:before
        content: ''
        position: absolute
        display: block
        width: 200px
        height: 200px
        background: rgba(0 0 0 0.75) url('images/arrow-right.png') 50% 50% no-repeat
    button
      button()
      &:hover
        color: colors.white
        background: colors.razzmatazz
      &:before
        content: "+ "
        font: bold 14px Arial, Helvetica, sans-serif

// Cart Summary Styles

#cart_popup
  overflow: hidden
  height: 122px
  margin: 0 0 20px 0
  background: colors.black
  #cart_contents
    display: inline-block
    width: 800px
    li
      display: inline-block
      width: 100px
      a
        position: relative
        &:hover:before
          content: ''
          position: absolute
          display: block
          width: 100px
          height: 100px
          background: rgba(0,0,0,0.75) no-repeat
      img
        width: 100%
      span
        display: block
        float: right
        height: 100%
        padding: 0 0 8px 0
        color: colors.white
  #cart_summary
    width: 200px
    height: 122px
    background: colors.mine_shaft
    color: colors.white
    display: inline-block
    float: right
    h3
      color: colors.silver
      padding: 20px 0 0 14px
      margin: 0 0 7px 0
      font-size: 10px
      font-weight: bold
      text-transform: uppercase
    p
      margin: 0 0 9px 0
      padding: 0 20px 0 14px
      font-size: 30px
      line-height: .9em
    a.empty
      checkout_button()
      width: 89px
      color: colors.radical_red
      &:hover
        text-decoration: underline
    a.checkout
      checkout_button()
      position: relative
      width: 83px
      padding: 0 18px 0 10px
      background: linear-gradient(to bottom, rgba(214,0,65,1) 0%, rgba(169,0,64,1) 100%)
      color: colors.white
      &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        display: block
        width: 0
        height: 0
        border-top: 14px solid colors.mine_shaft
        border-right: 14px solid transparent
        border-bottom: 14px solid transparent
        border-left: 14px solid colors.mine_shaft

// Product Detail Styles

#product
  position: relative
  background: url('images/sushi-preview.png') no-repeat top left
  height: 600px
  #display
    position: absolute
    top: 200px
    left: 0
    background: colors.black
    height: 200px
    width: 1000px
    a.prev, a.next
      display: inline-block
      width: 100px
      height: 200px
    a.prev
      background: colors.black url('images/nav-prev.png') no-repeat center
      &:hover
        background-color: colors.razzmatazz
    a.next
      background: colors.black url('images/nav-next.png') no-repeat center
      &:hover
        background-color: colors.razzmatazz
    #description
      display: inline-block
      vertical-align: top
      width: 600px
      height: 200px
      background: colors.white url('images/item-separator.png') repeat-y right top
    #details
      display: inline-block
      position: relative
      vertical-align: top
      width: 400px
      height: 200px
      h1
        padding: 30px 0 10px 30px
        color: colors.night_rider
        font-size: 36px
        font-weight: normal
        line-height: 27px
      p
        max-width: 300px
        padding: 0 0 18px 30px
        color: colors.night_rider
    #pricing
      position: absolute
      bottom: 0
      height: 30px
      width: 339px
      padding: 20px 30px
      border-top: 1px dotted colors.silver_chalice
      p
        display: inline-block
        padding: 0
        color: colors.boulder
        font-size: 30px
        line-height: 30px
      button
        button()
        float: right
        height: 30px
        width: 110px
        border: none
        background: linear-gradient(to bottom,  rgba(214,0,65,1) 0%,rgba(169,0,64,1) 100%)
        color: colors.white
        font-size: 12px
        text-align: center
        &:before
          content: '+ '
          font: bold 14px Arial, Helvetica, sans-serif
    #nutrition
      display: inline-block
      vertical-align: top
      width: 200px
      height: 100%
      background: colors.white
      h2
        padding: 30px 20px 20px 20px
        color: colors.eclipse
        font-size: 13px
        font-weight: bold
      dt, dd
        display: inline-block
        box-sizing: border-box
        font-size: 12px
      dt
        width: 100px
        padding: 0 0 0 20px
        color: colors.eclipse
        line-height: 16px
      dd
        width: 45px
        margin: 0 0 0 12px
        color: colors.night_rider
        line-height: 16px
        text-align: right

// Checkout Styles

#checkout
  background: colors.white
  #checkout_background_top
    background: url('images/sushi-preview.png') no-repeat top left
    height: 50px
  #checkout_content
    text-align: right
    h1
      color: colors.night_rider
      padding: 50px 0 53px 100px
      font-size: 36px
      font-weight: bold
      text-align: left
    table
      width: 100%
      padding: 0 100px
      border-spacing: 0
      td, th
        border-bottom: 1px solid colors.alto
        padding: 0
      thead
        color: colors.tundora
        font-size: 13px
        text-transform: uppercase
        text-align: left
        th:nth-child(3)
          text-align: right
      tbody
        vertical-align: middle
        td:first-child
          width: 530px
          color: colors.night_rider
          font-size: 21px
          text-align: left
        td:nth-child(2)
          width: 149px
        td:nth-child(3)
          width: 200px
          color: colors.night_rider
          font-size: 21px
          line-height: 1em
          text-align: right
          p
            padding: 0 0 0 20px
        input[type='number']
          box-sizing: border-box
          width: 100%
          height: 24px
          padding: 2px 5px
        div
          display: inline-block
          overflow: hidden
          float: left
          height: 100px
          img
            padding: 0 40px 0 0
        span.product_name
          max-width: 250px
          height: 100px
          line-height: 100px
    #total_checkout
      text-align: right
      line-height: 1em
      color: colors.night_rider
      font-size: 36px
      padding: 27px 100px 0 0
      span:first-child
        color: colors.boulder
        font-size: 10px
        padding: 0 13px 0 0
        text-transform: uppercase
    a.cancel
      height: 48px
      width: 131px
      display: inline-block
      color: colors.razzmatazz
      font-size: 13px
      line-height: 48px
      vertical-align: middle
      text-transform: uppercase
      margin: 54px 0 49px 0
      text-align: center
    button.order
      height: 48px
      width: 131px
      margin: 55px 100px 50px 0
      color: colors.white
      font-size: 13px
      line-height: 48px
      vertical-align: middle
      text-transform: uppercase
      text-align: center
      border: none
      background: linear-gradient(to bottom, rgba(214,0,65,1) 0%,rgba(169,0,64,1) 100%)
  #checkout_background_bottom
    background: url('images/sushi-preview.png') no-repeat bottom left
    height: 53px
    margin: 0 0 20px 0
