droid = 'Droid Sans', sans-serif

colors = {
  mine_shaft: #1f1f1f,
  cod_gray: #0c0c0c,
  white: #ffffff,
  black: #000000,
  emperor: #535353,
  silver_chalice: #a6a6a6,
  alto: #dadada,
  luxor_gold: #ab7829,
  dark_grey: #9e9e9e,
  dusty_gray: #999999,
  silver: #bababa,
  night_rider: #2e2e2e,
  boulder: #787878,
  eclipse: #3c3c3c,
  tundora: #4a4a4a,
  razzmatazz: #d60041,
  radical_red: #ff3170,
  monza: #d60041,
}

appearance()
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none

button()
  appearance()
  display: inline-block
  width: 100%
  height: 40px
  outline: none
  border: none
  border-top: 1px dotted colors.emperor
  background: transparent
  color: colors.razzmatazz
  text-transform: uppercase

checkout_button()
  display: inline-block
  vertical-align: middle
  height: 28px
  line-height: 28px
  font-size: 10px
  letter-spacing: 1px
  text-align: right
  text-transform: uppercase
